
<!doctype html>
<div class="content-title">
    <div>
        {% block content_title %}{% endblock %}
    </div>
</div>
<div class="content-body">
    <div class="content-args">
        <div>
            {% block content_args %}{% endblock %}
        </div>
    </div>
    <div class="content-graph">
        <div>
            {% block content_graph %}{% endblock %}
        </div>
    </div>
    <div class="content-list">
        <div>
            {% block content_list %}{% endblock %}
        </div>
    </div>
</div>
