{% extends "layout.html" %}

{% block head %}
{% endblock %}

{% block body %}
  <h2>自动发布</h2>
  </br>
  </br>
  <ul>
  <p>对应服务器命令android_debug.sh：</p>
  <code>android_debug.sh project_name version language</code>
  </br>
  </br>
  </br>
  </br>
  <p>命令（默认发布trunk中文版）：</p>
  <p><strong><span id="cmd" style="color: #377BA8">./android_debug.sh</span></strong></p>
  <form name="public" action="/public" method="post" id="public">
      <table>
          <tr>
              <td>project_name: </td>
              <td>
                  <input type="text" name="project_name" value="quickcroods" oninput="onInputChange();"/>
                  (Ex: quickcroods)
              </td>
          </tr>
          <tr>
              <td>version: </td>
              <td>
                  <input type="text" name="version" value="trunk" oninput="onInputChange();"/>
                  (Ex: 1.3.3)
              </td>
          </tr>
          <tr>
              <td>language: </td>
              <td>
                  <input type="text" name="language" value="cn" oninput="onInputChange();"/>
                  (Ex: cn/en)
              </td>
          </tr>
      </table>
      <p><input id="publicbtn" style="width: 92%; height: 2em; font-size:1.2em;" type="button" value="发  布" onClick="startPublic();"></p>
  </form>
  </br>
  </br>
  <p>日志：<strong><span id="log" style="color: #ff6666"></span></strong></p>
  <textarea style="width: 92%; height: 12em" class="result" id="result"></textarea>
  <ul>

  <script>
      var timeId = null;
      var xmlHttpRequest;  
      var textarea = document.getElementById('result');
      var publicbtn = document.getElementById('publicbtn');
      var isPublic = false;
      var form = document.getElementById('public');
      var logtitle = document.getElementById('log');
      var cmd = document.getElementById('cmd');

      onInputChange();

      function onInputChange() {
          var content = "./android_debug.sh " + form.project_name.value + " " +
          form.version.value + " " + form.language.value;
          console.log(content);
          cmd.innerHTML = content;
      }

      function setPublicStatus(status) {
          if (status == true) {
              isPublic = true;
              publicbtn.value = "取消发布";
              publicbtn.background = "#3333ee";
              logtitle.innerHTML = "（正在发布，发布过程中请不要 刷新 页面！)";
          } else {
              if (timeId) {
                  clearTimeout(timeId);
              }
              isPublic = false;
              publicbtn.value = "发  布";
              publicbtn.background = "";
              logtitle.innerHTML = "";
          }
      }

      function startTimer() {
          timeId = setTimeout(function () {
              onPublicLogReq();
              timeId = setTimeout(arguments.callee, 1000)},
          1000);
      }


      function startPublic() {
          if (isPublic) {
              setPublicStatus(false);
              onPublicCancelReq();
          } else {
              setPublicStatus(true);
              onPublicReq();
          }
      }

      //XmlHttpRequest对象  
      function createXmlHttpRequest(){  
          if(window.ActiveXObject){ //如果是IE浏览器  
              return new ActiveXObject("Microsoft.XMLHTTP");  
              }else if(window.XMLHttpRequest){ //非IE浏览器  
              return new XMLHttpRequest();  
          }  
      }  

      function onPublicCancelReq() {
          var url = "public_cancel";     
          //1.创建XMLHttpRequest组建  
          xmlHttpRequest = createXmlHttpRequest();  
          //2.设置回调函数  
          xmlHttpRequest.onreadystatechange = onPublicCancelRes;
          //3.初始化XMLHttpRequest组建  
          xmlHttpRequest.open("GET", url, true);  
          xmlHttpRequest.send(null);  
      }

      function onPublicCancelRes() {
          if (xmlHttpRequest.readyState == 4 && xmlHttpRequest.status == 200) {  
              var res = xmlHttpRequest.responseText;  
              console.log(res);
              if (res == "cancel finish") {
                  setPublicStatus(false);
                  addTextarea("\n=========================")
                  addTextarea("\n" + res);
              } else {
                  addTextarea(res);
              }
          }
      }

      function onPublicLogReq() {
          var url = "public_log";     
          //1.创建XMLHttpRequest组建  
          xmlHttpRequest = createXmlHttpRequest();  
          //2.设置回调函数  
          xmlHttpRequest.onreadystatechange = onPublicLogRes;
          //3.初始化XMLHttpRequest组建  
          xmlHttpRequest.open("GET", url, true);  
          xmlHttpRequest.send(null);  
      }

      function onPublicLogRes() {
          if (xmlHttpRequest.readyState == 4 && xmlHttpRequest.status == 200) {  
              var res = xmlHttpRequest.responseText;  
              console.log(res);
              if (res == "public finish") {
                  setPublicStatus(false);
                  addTextarea("\n=========================")
                  addTextarea("\n发布成功！" + res);
              } else if (res == "false") {
                  addTextarea("\n=========================")
                  addTextatea("\n发布错误！")
              } else if (res != "") {
                  addTextarea(res);
              }
          }
      }


      function onPublicReq() {  
          var url = "public";     
          //1.创建XMLHttpRequest组建  
          xmlHttpRequest = createXmlHttpRequest();  
          //2.设置回调函数  
          xmlHttpRequest.onreadystatechange = onPublicRes;
          //3.初始化XMLHttpRequest组建  
          xmlHttpRequest.open("POST", url, true);  
          xmlHttpRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
          //4.发送请求  
          var content = "project_name=" + form.project_name.value + "&" +
          "version=" + form.version.value + "&" + "language=" + form.language.value;
          console.log(content);
          xmlHttpRequest.send(content);    
      }     

      function onPublicRes() {
          if (xmlHttpRequest.readyState == 4 && xmlHttpRequest.status == 200) {  
              var res = xmlHttpRequest.responseText;  
              console.log(res);
              if (res == "false") {
                  setPublicStatus(false);
                  addTextarea("\n=========================")
                  addTextarea("\n发布错误！");
              } else {
                  startTimer();
                  addTextarea(res);
              }
          }

      }

      function addTextarea(value) {
          textarea.value = textarea.value + value;
          textarea.scrollTop = textarea.scrollHeight;
      }

  </script>
  {% endblock %}
